@charset "utf-8";
/*header*/
#main_gnb_wrap{width: 100%; height: 30px; border-bottom: 1px solid #ddd}
#main_gnb{width: 980px; margin: 0 auto; /*background: skyblue;*/}

/*main_gnb*/
#gnb{float:right;}
#gnb>ul{}
#gnb>ul>li{float: left; border-left: 1px solid #000}
#gnb>ul>li:first-child{border-left: none;}
#gnb>ul>li>a{display: block; line-height: 20px; padding:0 10px;}

/*logo_wrap*/
#logo_wrap{width: 980px; height: 60px; margin: 0 auto; position: relative; padding-top:5px;}
#logo_wrap>h1{width: 250px; margin:0px auto; text-align: center;}
#logo_wrap>div.toggle{position: absolute; top:5px; right: 0px}

/*main_lnb_wrap*/
#main_lnb_wrap{background: #1c5da3; }
#main_lnb{width: 980px;margin: 0 auto;}
#lnb{}
#lnb>ul{width: 100%;}
#lnb>ul>li{float: left; width:16.66%; border-right: 1px solid #336eac}
#lnb>ul>li:first-child{border-left: 1px solid #336eac;}
#lnb>ul>li>a{display: block; line-height: 40px; color:#fff; text-align: center; font-weight: bold;}
#lnb>ul>li>a:hover{background-color: skyblue; color:#1c5da3;}

/*visual_wrap*/
#visual_wrap{height: 400px; background: #203969 url(../images/visual_bg.jpg) no-repeat center;}
div.visual{width: 980px; height: 400px; margin: 0 auto; position: relative; overflow: hidden;}
div.visual img{position: absolute;}
div.visual .img01{right: 0; bottom:-100px;}
div.visual .img02{left: 0; top:70px;}


/*section main_banner*/
section.main_banner{background:#eeeeee;}
section.main_banner .banner{width: 980px; margin: 0 auto;}
div.banner>ul{width: 100%;}
div.banner>ul>li{float: left; width: 20%;height: 200px; text-align: center; color:#fff; cursor: pointer;}
div.banner>ul>li:nth-child(1){background-color: #7c99b9;}
div.banner>ul>li:nth-child(2){background-color: #4f74a1;}
div.banner>ul>li:nth-child(3){background-color: #4b8ce0;}
div.banner>ul>li:nth-child(4){background-color: #3db5f2;}
div.banner>ul>li:nth-child(5){background-color: #95c8ff;}

div.banner>ul>li:nth-child(1):hover,
div.banner>ul>li:nth-child(2):hover,
div.banner>ul>li:nth-child(3):hover,
div.banner>ul>li:nth-child(4):hover,
div.banner>ul>li:nth-child(5):hover{background-color: #336eac;}
div.banner>ul>li .card{width: 100%; padding:15px;}
div.banner>ul>li img{display: block; margin:0 auto;}
div.banner>ul>li .card-body{padding-top:10px;}
div.banner>ul>li .card-title{margin-bottom: 5px; font-weight: bold;}
div.banner>ul>li .card-text{}


/*section main-article*/
section.main_article{padding-top: 50px}
section.main_article .article{width: 980px; margin: 0 auto;}
div.article>ul{width: 100%;}
div.article>ul>li{float: left; width: 310px; margin-right: 25px;}
div.article>ul>li:last-child{margin-right: 0;}
div.article>ul>li .card{width: 100%;}
div.article>ul>li img{display: block;}
div.article>ul>li .card-body{border:1px solid #ddd; padding:15px;}
div.article>ul>li .card-title{margin-bottom: 10px}
div.article>ul>li .card-text{}

/*sention main_information*/
section.main_information{padding-top: 30px}
section.main_information .information{width: 980px; margin:0 auto;}
div.information>ul{}
div.information>ul>li{float: left; width: 310px; margin-right: 25px; position: relative;
	border:1px solid #ddd; padding:15px;height: 180px; overflow: hidden;}
div.information>ul>li:last-child{margin-right: 0}
div.information>ul>li .card{}
div.information>ul>li img{position: absolute; right: -20px}
div.information>ul>li .card-body{width: 120px;}
div.information>ul>li .card-title{}
div.information>ul>li .card-text{}
div.information>ul>li .card-text2{color:blue; font-size:13px; font-weight:bold; position: absolute; left:15px; bottom:15px;}


